
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #81b4bb, #97aebe);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  background: #f5eded;
  padding: 20px 25px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 10px;
}

input[type="text"] {
  padding: 10px 14px;
  border: 1px solid #b0bec5;
  border-radius: 8px;
  outline: none;
  width: 220px;
  transition: all 0.3s ease;
}

input[type="text"]:focus {
  border-color: #42a5f5;
  box-shadow: 0 0 6px rgba(66, 165, 245, 0.3);
}

button {
  background-color: #42a5f5;
  color: #0a0909;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #1e88e5;
  transform: scale(1.05);
}

#weather {
  margin-top: 25px;
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  color: #37474f;
  text-align: center;
  min-width: 250px;
}

#weather::before {
  content: " ";
  font-size: 22px;
}


@media (max-width: 500px) {
  form {
    flex-direction: column;
    align-items: center;
  }

  input[type="text"] {
    width: 100%;
  }

  button {
    width: 100%;
  }
}
